* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    /* display: flex; */
    justify-content: center;
    /* margin-top: 10px; */


}
.box_one{
    border-radius: 8px;
    height: 312px;
    width: 362px;
    background-color: #fff;
    padding: 15px;
    margin-right: 25px;

    
}
.box_one h1{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #0A0E0F;
    font-family: 'Nunito', sans-serif;
    padding-bottom: 24px;
    
}
.col{
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.15px;
    color:#10867F;
    font-family: 'Nunito', sans-serif;
}
.pic1{
    display: flex;
    justify-content: space-between;

}
.pic2{
    display: flex;
    justify-content: space-between;
   

}
.pic3{
    display: flex;
    justify-content: space-between;
   
}
.pic4{
    display: flex;
    justify-content: space-between;
   
}
.pic5{
    display: flex;
    justify-content: space-between;
    
}
.img2{
    padding: 8px;
}
h2{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.15px;
    color:#4E4F51;
    font-family: 'Nunito', sans-serif;
    list-style: none;
    cursor: pointer;
    padding:5px;
}

/************* This is box two *****/

.flexbox{
    display: flex;
    
}
.box_two{
    width: 710px;
    height: 215px;
    background-color: #fff;
    padding: 10px;
}
.box_three{
    width: 700px;
    height:440px;
    background-color: #fff;
    padding: 10px;
    margin-top: 60px;
    margin-left: -10px;
}
.box_two h2{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #0A0E0F;
}
/* li::before {
    content: '\2713';
    font-size: 20px;
    vertical-align: middle;
    
} */
li{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #4E4F51;
    font-family: 'Nunito', sans-serif;
    list-style: none;
}
ul{
    padding: 0px;
}
.name{
    width: 660px;
    height: 56px;
    border-radius: 8px;
    padding: 10px;
    border: solid 2px grey;
   
}
.dob{
    width: 330px;
    height: 56px;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
    margin-right: 15px;
    border: solid 2px grey;
    
}
.gender{
    width: 330px;
    height: 56px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border: solid 2px grey;

}
.dis_btn{
    background-color: #fff;
    font-family: 'Nunito', sans-serif;
    padding: 19px 24px 18px;
    color: #000;
    width: 329px;
    height: 59px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 21px;
    border-radius: 8px;
    margin-top: 10px;
    margin-right: 15px;
    border: solid 2px grey;
    
}
.sav_btn{
    background: #10867F;
    font-family: 'Nunito', sans-serif;
    padding: 19px 24px 18px;
    color: #000;
    width: 329px;
    height: 59px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 21px;
    border-radius: 8px;
    margin: 10px 0px 10px 0px;
    border: none;
   
}
.input_flex_box{
    display: flex;
}
.button_flex_box{
    display: flex;
}
.per_text{
    font-family: 'Nunito Sans';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #0A0E0F;
}
.Select_pack{
    width: 665px;
    height: 56px;
    border-radius: 8px;
    padding: 10px;
    border: solid 2px grey;
}
.pay_detail{
    font-family: 'Nunito Sans';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #0A0E0F;
    padding-top: 10px;
}
.card_name{
    width: 665px;
    height: 56px;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
    margin-right: 15px;
    border: solid 2px grey;
}
.card_number{
    width: 665px;
    height: 56px;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
    margin-right: 15px;
    border: solid 2px grey;
}
.exp{
    width: 325px;
    height: 56px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border: solid 2px grey;
    margin-right: 10px;
}
.cvc{
    width: 330px;
    height: 56px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border: solid 2px grey;
}
.btn-save{
    width: 665px;
    height: 59px;
    padding: 19px 24px 18px;
    background: #10867F;
    border-radius: 8px;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    size: 16px;
    letter-spacing: 0.15px;
    margin-top: 10px;
    border: none;

}